@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"]{
	margin: 1em;
}

[epub|type~="z3998:letter"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:valediction"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:valediction"],
[epub|type~="z3998:letter"] footer{
	text-align: right;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}
