@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:letter"]{
	margin: 1em;
}

[epub|type~="z3998:letter"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] p{
	text-indent: 1em;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p > span.signature{
	float: right;
}

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

blockquote footer{
	margin-top: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

footer p[epub|type~="z3998:valediction"]{
	text-align: left;
	text-indent: 1em;
}

.signature{
	font-variant: small-caps;
}
